# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
ENV/
env/

# Testing
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# Type checking / linting
.mypy_cache/
.ruff_cache/
.pytype/
.pyre/

# Jupyter
.ipynb_checkpoints/

# IDE / Editors
.vscode/
.idea/

# System files
.DS_Store

# AWS CDK
cdk.out/
cdk*
